[Unit]
Description=Lightweight Kubernetes
Documentation=https://k3s.io
After=network-online.target

[Service]
Type=notify
EnvironmentFile=/etc/default/k3s
ExecStartPre=-/sbin/modprobe br_netfilter
ExecStartPre=-/sbin/modprobe overlay
{% if storage %}
ExecStart=/usr/local/bin/k3s agent --token {{ hostvars[groups['master'][0]]['token'] | default(k3s_node_token) }} --server https://{{ master_ip }}:6443 {{ extra_agent_args | default("") }} {{ extra_storage_agent_args | default("") }}
{% else %}
ExecStart=/usr/local/bin/k3s agent --token {{ hostvars[groups['master'][0]]['token'] | default(k3s_node_token) }} --server https://{{ master_ip }}:6443 {{ extra_agent_args | default("") }}
{% endif %}
KillMode=process
Delegate=yes
# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
