---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: traefik
  namespace: kube-system
spec:
  chart: https://%{KUBERNETES_API}%/static/charts/traefik-1.81.0.tgz
  valuesContent: |-
    rbac:
      enabled: true
    ssl:
      enabled: true
      insecureSkipVerify: true # don't refuse to handle backend with self-signed certs
    metrics:
      prometheus:
        enabled: true
      serviceMonitor:
        enabled: true
    dashboard:
      enabled: true
      serviceType: LoadBalancer
      auth:
        basic:
          admin: {{ web_admin_passwd }}
    loadBalancerIP: 10.41.0.1
    logLevel: debug
    kubernetes:
      ingressEndpoint:
        useDefaultPublishedService: true
    image: "rancher/library-traefik"
    tolerations:
      - key: "CriticalAddonsOnly"
        operator: "Exists"
      - key: "node-role.kubernetes.io/master"
        operator: "Exists"
        effect: "NoSchedule"
